main {
  /* padding: 10px; */
}

body {
  padding-top: 60px;
}


img {
  max-width: 100%;
}

header {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
  /* margin-top: 20px; */
  align-items: center;
  background-color: cadetblue;
  z-index: 1000;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
padding: 0;
margin: 2px;
}

header nav a {
  text-decoration: none;
  padding: 0;
  border: 2px;
  margin: 2px;
  border-radius: 3px;
  /* background-color: aquamarine; */
}

header nav a.createpost {
  background-color: rgb(227, 158, 53);
  border-radius: 3px;
  padding: 1px;
  align-items: center;
  justify-content: center;
  font-size: smaller;
}

header nav a.logout {
  background-color:rgb(227, 158, 53);
  border-radius: 3px;
  padding: 2px;
  align-items: center;
  justify-content: center;
    font-size: smaller;
}


header a {
  text-decoration: none;
  padding: 15px;
  /* background-color: rgb(62, 190, 22); */
  border-radius: 20px;
}

header nav {
  /* padding: 10px; */
  display: flex;
  margin-right: 10px;
}

header div.copyright {
  color: rgb(5, 3, 16);
  font-size: small;
  font-family: serif;
}

header a.logo {
  color: black;
}

header div.brand {
  background-color: rgb(227, 158, 53);
  color: black;
  margin-left: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  /* height: 30px; */
  padding: 5px;
  border-radius: 3px;
}


/* header div.brand img.logo{
background-color: blue;
 width: 510px;
}


@media (max-width: 100px) {
  header img.logo {
    height: 32px;
    background-color: blue;
    width: 50px;
  }
} */


div.post {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  gap: 15px;
  margin-bottom: 20px;
  background-color: aliceblue;
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid;
}

/* 
div.post div.image a{
  height: 100%;
  background-color: blue;
} */

div.post div.image img {
  height: 220px;
  width: 95%;
  border-radius: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

div.post div.image {
  background-color: crimson;
  /* margin-left: 15px; */
  border-radius: 80px;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

div.post p.info {
  color: rgb(13, 159, 185);
  font-weight: bold;
  margin: 10px;
  display: flex;
  gap: 8px;
}

form.login,
form.register {
  margin: 30px;
  display: block;
  position: absolute;

}

input {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 6px;
  width: 30%;
}

button {
  align-content: center;
  text-align: center;

}

form {
  width: 100%;
}

div.post div.texts a {
  text-decoration: none;
  color: black;
}

div.postpage h1 {
  text-align: center;
}

div.postpage div.postimage img {
  border-radius: 20px;
  width: 100%;
}

div.postpage div.postimage {
  display: flex;
  overflow: hidden;
  height: 300px;
  width: 500px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* max-height: 400px;
  margin-left: 70px;
  margin-right: 70px; */
  background-color: blue;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 9px;
}

div.postpage {
  margin: 10px;
}

div.postpage div.author {
  text-align: center;
  margin-bottom: 10px;
}

div.postpage time {
  text-align: center;
  display: block;
}

div.postpage div.edit-option a {
  background-color: greenyellow;
  padding: 8px;
  border-radius: 10px;
  color: brown;
  text-align: center;
  text-decoration: solid;
  margin: 10px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

div.edit-option {
  text-align: center;
}

a svg {
  height: 20px;
}

main {
  background-color: lightcyan;
}